@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.header2 {
    text-align: center;
}

.input {
    margin: 2%;
    padding: 5px 15px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    border-color: green;
}

.button {
    width: auto;
    padding: 5px 15px;
    background-color: lightgreen;
    border-radius: 10px;
    border-color: green;
}

.msg_container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.encrypted_msg_container {
    background-color: #E6FFE3;
    width: fit-content;
    margin: auto;
    padding: 2px;
    margin-top: 10px;
    text-align: left;
}

.encrypted_msg {
    margin: 20px;
    font-family:Ubuntu;
}

.instruction {
    margin: auto;
    border: 5px solid lightgreen;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    font-family: Ubuntu;
}

.final_container {
    margin: auto;
    width: auto;
}

.input_final {
    margin: 2%;
    padding: 5px 15px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    border-color: red;
}

.button_final {
    width: auto;
    padding: 5px 15px;
    background-color: lightcoral;
    border-radius: 10px;
    border-color: red;
}

.congrats {
    margin-top: 20px;
    border: 3px solid #dbe4ed;
}